@(motherboards: List[Motherboard], processors: List[Processor])

@main {
    <div class="container">
        <div class="row">
            <section>
                <div class="wizard">
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#personal-informations" data-toggle="tab" aria-controls="step1" role="tab" title="Personal informations">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#processor" data-toggle="tab" aria-controls="step2" role="tab" title="Processor">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-scale"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#motherboard" data-toggle="tab" aria-controls="step3" role="tab" title="Motherboard">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-modal-window"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Memory">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-oil"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab" title="Storage">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-hdd"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#step6" data-toggle="tab" aria-controls="step6" role="tab" title="Graphic card">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#step6" data-toggle="tab" aria-controls="step6" role="tab" title="Alimentation">
                                    <span class="round-tab">
                                        <i class="fa fa-plug"></i>
                                    </span>
                                </a>
                            </li>


                            <li role="presentation" class="disabled">
                                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">

                        <div class="tab-pane active" role="tabpanel" id="personal-informations">
                            <h1>Personal informations</h1>
                            <form role="form" id="personal-inf-save">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input required type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <label for="budget">Budget:</label>
                                    <div class="input-group">
                                        <input required type="number" class="form-control" id="budget" name="budget" placeholder="Enter your budget" step="0.1" min="1">
                                        <span class="input-group-addon">CHF</span>
                                    </div>
                                </div>
                                <ul class="list-inline pull-right">
                                    <li><button type="submit" class="btn btn-primary next-step">Save and continue</button></li>
                                </ul>
                            </form>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="processor">
                            <h1>Processor</h1>
                            <form role="form" id="processor-save">
                                <table class="table components-table">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Manufacturer</th>
                                            <th>Model</th>
                                            <th>Socket</th>
                                            <th>Cores</th>
                                            <th>Threads</th>
                                            <th>Frequency</th>
                                            <th>Consumption</th>
                                            <th>Popularity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @for(processor <- processors) {
                                        <tr class="clickable-row">
                                            <td><img src="@processor.imageURL" alt="processor_img" height="60"></td>
                                            <td>@processor.manufacturer</td>
                                            <td>@processor.model</td>
                                            <td>@processor.socket</td>
                                            <td>@processor.nbCores</td>
                                            <td>@processor.nbThreads</td>
                                            <td>@processor.frequency</td>
                                            <td>@processor.consumption</td>
                                            <td>@processor.popularity</td>
                                            <td>@processor.price</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                    <li><button type="submit" class="btn btn-primary next-step">Save and continue</button></li>
                                </ul>
                            </form>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="motherboard">
                            <h1>Motherboard</h1>
                            <form role="form" id="motherboard-save">
                                <table class="table table-hover components-table">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Manufacturer</th>
                                            <th>Model</th>
                                            <th>Socket CPU</th>
                                            <th>Popularity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                    <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                                    <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                                </ul>
                            </form>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <h3>Complete</h3>
                            <p>You have successfully completed all steps.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}
